<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Rate the movie</title>
  </head>
  <body>
    <header>
      <h1>Rate The Movie</h1>
    </header>
    <main>
      <section>
        <h3>#1</h3>
        <img src="../movieposter.jpg" alt="poster" height="150" width="97" />
        <h4>Eyes wide shut</h4>
        <p>2015</p>
      </section>
      <section>
        <h3>#1</h3>
        <img src="../movieposter.jpg" alt="poster" height="150" width="97" />
        <h4>Eyes wide shut</h4>
        <p>2015</p>
      </section>
    </main>
    <footer>FOOTER</footer>
  </body>
</html>
